# Build directories
build/

# VS folder
.vs/

# VCXPROJ User files
*.user

# Dependency files
*.d

# Object files
*.o
*.obj

# Libraries
*.lib
*.a

# Shared libraries
*.dll
*.so
*.dylib

# Executables
*.exe
*.out
*.app

# Debug files
*.pdb
*.idb
*.dSYM/

# Linker output
*.ilk
*.map